footer {
    padding-left: 16%;
    padding-right: 16%;
}

footer nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;

}

footer ul {
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {

    footer nav {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 58px;

    }

}