footer {
    padding-left: 15%;
    padding-right: 15%;
}

footer nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0; /* 고정값은 지양하도록 구현해보고 싶다. */

}

footer ul {
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {

    footer nav {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 58px;

    }

}